/* Importa a fonte do Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Página inteira */
body{
    
    /* Remove margem padrão */
    margin: 0;

    /* Remove espaçamento padrão */
    padding: 0;

    /* Define a fonte */
    font-family: 'Arial', sans-serif;

    /* Cor de fundo */
    background-color: #9e9e9e;

    /* Ativa flexbox */
    display: flex;

    /* Centraliza horizontalmente */
    justify-content: center;

    /* Centraliza verticalmente */
    align-items: center;

    /* Altura da tela inteira */
    height: 100vh;

    /* Cor do texto */
    color: rgb(0, 0, 0);
}

/* Card principal */
.container{

    /* Cor do card */
    background: #ffffff;

    /* Espaço interno */
    padding: 35px;

    /* Bordas arredondadas */
    border-radius: 18px;

    /* Sombra */
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.4);

    /* Centraliza textos */
    text-align: center;

    /* Largura */
    width: 350px;
}

/* Caixa do formulário */
.formulario{

    /* Borda */
    border: 2px solid #301cdd;

    /* Espaço interno */
    padding: 20px;

    /* Bordas arredondadas */
    border-radius: 15px;

    /* Espaço em cima */
    margin-top: 20px;

    /* Fundo */
    background-color: #ffffff;

    /* Sombra */
    box-shadow: 0 0 15px rgba(45, 55, 230, 0.4);
}

/* Título */
h1{

    /* Espaço embaixo */
    margin-bottom: 20px;

    /* Tamanho da fonte */
    font-size: 28px;
}

/* Input */
input{

    /* Largura total */
    width: 100%;

    /* Espaço interno */
    padding: 12px;

    /* Bordas arredondadas */
    border-radius: 10px;

    /* Borda */
    border: 1px solid #00235a;

    /* Fundo */
    background: #ffffff;

    /* Cor do texto */
    color: rgb(0, 0, 0);

    /* Remove contorno */
    outline: none;

    /* Tamanho da fonte */
    font-size: 16px;

    /* Espaço embaixo */
    margin-bottom: 15px;

    /* Corrige tamanho */
    box-sizing: border-box;

    /* Animação suave */
    transition: 0.3s;
}

/* Quando clicar no input */
input:focus{

    /* Cor da borda 
    border-color: #00235a;*/

    /* Sombra azul */
    box-shadow: 0 0 20px #0b275550;
}

/* Classe de erro do input */
.input-erro{

    /* Borda vermelha */
    border: 2px solid red;
}

/* Botão */
button{

    /* Largura total */
    width: 100%;

    /* Espaço interno */
    padding: 12px;

    /* Remove borda */
    border: none;

    /* Bordas arredondadas */
    border-radius: 10px;

    /* Cor do botão */
    background: #000000;

    /* Cor do texto */
    color: white;

    /* Tamanho da fonte */
    font-size: 16px;

    /* Texto mais grosso */
    font-weight: bold;

    /* Mãozinha ao passar mouse */
    cursor: pointer;

    /* Animação suave */
    transition: 0.3s;
}

/* Hover do botão */
button:hover{

    /* Cor mais escura */
    background: #011747;

    /* Aumenta levemente */
    transform: scale(1.03);
}

/* Botão desativado */
button:disabled{

    /* Cor cinza */
    background-color: gray;

    /* Cursor bloqueado */
    cursor: not-allowed;
}

/* Resultado da API */
#resultado{

    /* Espaço em cima */
    margin-top: 20px;

    /* Tamanho da fonte */
    font-size: 20px;

    /* Texto mais grosso */
    font-weight: 600;
}

/* Classe de erro */
.erro{

    /* Texto vermelho */
    color: red;

    /* Espaço em cima */
    margin-top: 10px;
}