/* Importa uma fonte externa do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


/* TAG body: representa o corpo inteiro da página */
body{
    margin: 0; /* Remove a margem padrão */

    padding: 0; /* Remove o espaçamento interno padrão */

    font-family: 'Arial', sans-serif; /* Define a fonte */

    background-color: #9e9e9e; /* Cor de fundo */

    display: flex; /* Ativa o Flexbox */

    justify-content: center; /* Centraliza na horizontal */

    align-items: center; /* Centraliza na vertical */

    height: 100vh; /* Ocupa a altura inteira da tela */

    color: rgb(0, 0, 0); /* Cor do texto */

}


/* CLASSE .container: card principal da tela */
.container{
    background: #ffffff; /* Cor de fundo do card */

    padding: 35px; /* Espaçamento interno */

    border-radius: 18px; /* Arredonda as bordas */

    box-shadow: 0 0 30px rgba(255, 255, 255, 0.4); /* Sombra */

    text-align: center; /* Centraliza o texto */

    width: 350px; /* Largura fixa */

}


/* TAG label: texto acima do input */
label{
    display: block; /* Faz o label ocupar uma linha inteira */

    margin-top: 10px; /* Espaço acima */

    margin-bottom: 10px; /* Espaço abaixo */

}


/* CLASSE .formulario: caixa onde ficam label, input e botão */
.formulario{
    border: 2px solid #a5a5b4; /* Borda da caixa */

    padding: 20px; /* Espaçamento interno */

    border-radius: 15px; /* Bordas arredondadas */

    margin-top: 20px; /* Espaço acima */

    background-color: #ffffff; /* Fundo branco */

    box-shadow: 0 0 15px rgba(169, 170, 163, 0.4); /* Sombra */

}


/* TAG h1: título principal */
h1{
    margin-bottom: 20px; /* Espaço abaixo */

    font-size: 28px; /* Tamanho da fonte */

}


/* TAG input: campo onde o usuário digita */
input{
    width: 100%; /* Ocupa toda a largura */

    padding: 12px; /* Espaçamento interno */

    border-radius: 10px; /* Bordas arredondadas */

    border: 1px solid #00235a; /* Borda azul */

    background: #ffffff; /* Fundo branco */

    color: rgb(0, 0, 0); /* Cor do texto */

    outline: none; /* Remove contorno padrão */

    font-size: 16px; /* Tamanho da letra */

    margin-bottom: 15px; /* Espaço abaixo */

    box-sizing: border-box; /* Corrige o tamanho total */

    transition: 0.3s; /* Animação suave */

}


/* PSEUDOCLASSE input:focus: quando o usuário clica no input */
input:focus{
    box-shadow: 0 0 20px #0b275550; /* Sombra ao clicar */

}


/* CLASSE .input-erro: usada quando o input estiver com erro */
.input-erro{
    border: 2px solid red; /* Borda vermelha */
}


/* TAG button: botão da página */
button{
    width: 100%; /* Ocupa toda a largura */

    padding: 12px; /* Espaçamento interno */

    border: none; /* Remove a borda */

    border-radius: 10px; /* Bordas arredondadas */

    background: #000000; /* Cor do botão */

    color: white; /* Cor do texto */

    font-size: 16px; /* Tamanho da letra */

    font-weight: bold; /* Texto em negrito */

    cursor: pointer; /* Mãozinha do mouse */

    transition: 0.3s; /* Animação suave */

}


/* PSEUDOCLASSE button:hover: quando passa o mouse no botão */
button:hover{
    background: #011747; /* Muda a cor */

    transform: scale(1.03); /* Aumenta levemente */

}


/* PSEUDOCLASSE button:disabled: botão desativado */
button:disabled{
    background-color: gray; /* Cor cinza */

    cursor: not-allowed; /* Cursor de bloqueado */

}


/* ID #resultado: local onde aparece o resultado da API */
#resultado{
    margin-top: 20px; /* Espaço acima */

    font-size: 20px; /* Tamanho da fonte */

    font-weight: 600; /* Texto mais grosso */

}


/* CLASSE .erro: mensagem de erro */
.erro{
    color: red; /* Texto vermelho */

    margin-top: 10px; /* Espaço acima */

}